.statements {
    /*border: 1px solid black; */
    margin-top: 6%;
    margin-left: 2%;
    width: 40%;
}

.statements h1 {
    font-weight: bold;
    font-size: 4rem;
}

.statements h5 {
    font-style: italic;
    color: rgb(20, 85, 160);
    font-size: 2rem;
}